<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body bgcolor="cyan">
<center>
    <h1>Calculator App </h1>
    <form action="./calci" method="get">
        Enter First Number: <input type="number" name="n1" placeholder="Enter First Number">
        Enter Second Number: <input type="number" name="n2" placeholder="Enter Second Number">
        <input type="submit" value="ADD" name="cal">
        <input type="submit" value="SUB" name="cal">
        <input type="submit" value="MUL" name="cal">
        <input type="submit" value="DIV" name="cal">

    </form>
</center>

</body>
</html>